@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Poppins', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }

  html {
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  body {
    @apply antialiased text-gray-900 bg-white;
  }
}

@import './components/ui.css';

/* Animations utilities */
@layer utilities {
  .animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: animateOut;
    animation-duration: 350ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }
}
